/node_modules
/public/hot
/public/storage
/public/fonts
/public/img
/public/css
/public/js
/public/audio
/public/assets
/storage/*.key
/storage/app/admin_data.json
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode
