/node_modules
/public/hot
/public/storage
/public/fonts
/public/css
/public/js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode
